;;; Configuration for LIFT tests

;; Settings
(:if-dribble-exists :supersede)
(:dribble "cl-hooks.dribble")
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)

;; Suites to run
(hooks.test:root)

;; Report properties
(:report-property :title "cl-hooks | Test results")
(:report-property :relative-to cl-hooks-test)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
