;;; Configuration for LIFT tests

;; Settings
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)

;; Suites to run
(hooks.test:root)

;; Report properties
(:report-property :title "cl-hooks | Test Results")
(:report-property :relative-to cl-hooks-test)

(:report-property :format        :html)
(:report-property :full-pathname "test-report/")
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style.css")
(:build-report)

(:report-property :format        :junit)
(:report-property :full-pathname "test-results.xml")
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
